p {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
    line-height: 125%;
	hyphens: none;
}

a {
    text-decoration: underline;
}

.header {
    background-color: $secondary-color;
    &__link {
        font-size: 14px;
    }
    &__logo {
        height: 47px !important;
        width: 140px !important;
    }
    &__btn a {
        border: 1px solid !important;
        border-radius: 50px !important;
        padding-top: 16px !important;
        padding-right: 16px !important;
        padding-bottom: 16px !important;
        padding-left: 16px !important;
        color: $primary-color !important;
        font-weight: normal !important;
        letter-spacing: 1px;
        line-height: 100%;
        text-decoration: none;
    }
    &__btn:hover table td {
        background-color: $secondary-color !important;
    }
    &__heading {
        font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
        font-size: 72px;
        font-style: normal;
        font-weight: normal;
        line-height: 100%;
        letter-spacing: -2px;
    }
    &__img-link {
        font-size: 12px;
    }
    @media only screen and (max-width: 480px) {
        &__heading {
            font-size: 54px !important;
            line-height: 100% !important;
        }
    }
}
.top-body {
    &__heading {
        font-size: 50px;
        font-style: normal;
        font-weight: normal;
        line-height: 100%;
        letter-spacing: -1px;
    }
}

.pairings {
    &__heading {
        font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
        font-size: 48px;
        font-style: normal;
        font-weight: normal;
        line-height: 100%;
        letter-spacing: -1px;
    }
    @media only screen and (max-width: 480px) {
        &__heading {
            font-size: 36px !important;
            line-height: 100% !important;
        }
    }
}

.footer {
    background-color: $secondary-color;
    &__logo {
        height: 47px !important;
        width: 140px !important;
    }
    &__btn a {
        color: #222222 !important;
        padding: 0 !important;
        line-height: 100% !important;
    }
    &__btn table td {
        padding-top: 18px !important;
        padding-right: 18px !important;
        padding-bottom: 18px !important;
        padding-left: 18px !important;
        background-color: #ffd88b !important;
        border: none !important;
    }
    &__btn:hover table td {
        background-color: #ffd88b !important;
    }
    p {
        font-size: 16px;
        line-height: 150%;
        -webkit-text-size-adjust: 100%;
    }
    @media only screen and (max-width: 480px) {
        p {
            font-size: 18px !important;
            line-height: 150% !important;
        }
    }
}
