<wrapper bgcolor="#f5f1e9">
	<container>
		<row class="footer">

			<columns>
				<spacer size="48" bgcolor="#f5f1e9"></spacer>

				<center>
					<img src="https://i.imgur.com/E3hxOsz.png" alt="Damp Logo" height="47" width="140" class="footer__logo">
				</center>
				<spacer size="48" bgcolor="#f5f1e9"></spacer>

				<center>
					<button href="#" class="expanded footer__btn">Read More on Damp</button>
				</center>
				<spacer size="16" bgcolor="#f5f1e9"></spacer>

				<p class="text-center">
					Copyright © 2020 Damp, All rights reserved.
				</p>
				<spacer size="16" bgcolor="#f5f1e9"></spacer>

				<p class="text-center">
					Want to change how you receive these emails?<br>
					You can <a href="#">update your preferences</a> or <a href="#">unsubscribe</a>.
				</p>

			</columns>
		</row>
	</container>
</wrapper>
<spacer size="50" bgcolor="#f5f1e9"></spacer>