<wrapper bgcolor="#f5f1e9">

	<container>
		<spacer size="36" bgcolor="#f5f1e9"></spacer>
		<row class="header">
			<columns small="12">
				<p class="text-center header__link"><a href="#">View in browser</a></p>
				<spacer size="40"></spacer>

				<center>
					<img src="https://i.imgur.com/E3hxOsz.png" alt="Damp Logo" class="header__logo" height="47"
						width="140">
				</center>

				<spacer size="36"></spacer>
				<center>
					<button href="#" class="secondary header__btn">LOW BROW PARINGS</button>
				</center>

				<spacer size="8"></spacer>
				<h1 class="text-center header__heading" width="564">
					NYC Pizza & Natural Wine
				</h1>
				<spacer size="36"></spacer>
			</columns>
		</row>

		<center>
			<img src="https://i.imgur.com/7NN5BDU.png" alt="Damp Logo" height="400.5" width="600" class="header__img">
		</center>
		<row class="header">
			<columns>
				<spacer size="8"></spacer>

				<span class="text-center header__img-link">
					Photography by <a href="#">Daniel Dorsa</a>
				</span>
				<spacer size="32"></spacer>
				<p>
					NYC has some incredible places for natural wine and pizza. <a href="#">Roberta's</a> paved the way
					with
					their wine list, then <a href="#">Ops</a> and
					<a href="#">Leo</a> followed suit. <a href="#">Pizzeria Beddia</a> in Philly and <a href="#">Jon &
						Vinny's</a> in LA raised the bar,
					giving
					New York a run for its
					money. You can go to any of these restaurants and they'll recommend the perfect wine for your pie.
					With
					these places as
					inspiration, we've put together some natural wine pairings with our favorite slices.
				</p>
				<spacer size="54"></spacer>
			</columns>
		</row>
	</container>
</wrapper>